<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

  

    <div class="popup" id="popupMenu">

       <button id="close">&times;</button>
      <h1><center>WELCOME TO AI POWERED OFFLINE CODING ASSISTANT</center> </h1>
       <p>Click on the let's go button to start with the codding.</p>
      <center>
        <button class="special">
            <a href="indexPage2.html">LET'S GO</a>
         </button>
      </center>
    </div>

<script src="script.js"></script>

</body>
</html>